* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    background: #ffffff;
}

.menu-navegacao ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-navegacao li {
    margin-left: 25px; 
    position: relative; 
}

.menu-navegacao a {
    text-decoration: none;
    font-size: 16px;
    color: #5d4d42; 
    padding: 5px 0;
    display: block;
}